@page "{residence}"
@model RazorPagesRecap.Pages.WelcomeModel

<h2>Vítejte z @Model.Residence!</h2>

<p>
    Děkujeme za vyplnění našeho dotazníku.
</p>

<a asp-page="Index" class="btn btn-primary">Domů</a>
<a asp-page="Survey" class="btn btn-secondary">Vyplnit dotazník znovu</a>
